/* header related styles */

.header {
    background-color: #E554731A;
    width: 2022px;
    height: 1000px;
}

.banner {
    padding: 200px 970px 320px 240px;
    display: flex;
    width: 600px
}

.banner-greeting {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

.banner-pera {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.pngwing-10 {
    display: block;
    padding-left: 400px;
    padding-bottom: 1000px;
    width: 635px;
    height: 800px;
}

/* main related styles */
/* main section 1 */

.sec-1-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin: 200px 600px 0px 600px;
    gap: 24px;
    text-align: center;
}

.sec-1-pera {
    color: rgba(39, 39, 39, 0.60);
    gap: 24px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 50px;
    margin-left: 650px;
    margin-right: 650px;
    margin-bottom: 100px;
    text-align: center;
}

/* main section 2 */
section div {
    display: flex;

}

.pink {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    display: block;
    margin: 50px 24px 0px 250px;

}

.red {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    display: block;
    margin: 50px 24px 0px 0px;

}

.yellow {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: block;
    margin: 50px 0px 0px 0px;

}

.flower1 {
    display: block;
    padding: 110px 0px 0px 70px;
}

.flower2 {
    display: block;
    padding: 120px 50px 50px 50px;
}

.flower3 {
    display: block;
    padding: 65px 0px 0px 70px;
}

.underline1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    margin: 20px 100px 0px 370px;
}

.underline2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin: 20px 100px 0px 250px;
}

.underline3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 20px 200px 0px 200px;
}

/* main section 3 */


.deal{
    width: 2022px;
    height: 1000px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin-top: 200px;
display: block;
justify-content: space-between;
}
.head-deal {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    

}
.pera-deal{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.pngwing-8{
    width: 318px;
    height: 420px;
}

.off{
    color: #E55473;
}

/* section 3 */
.flower-divs2{
    display: flex;
}

.flower3{
    margin-left: 250px;
}
.flower4{
    margin-left: 25px;
}
/* section 4 */
.sec-4{
    border-radius: 8px;
    background: url(Rectangle 9.png), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    width: 1440px;
height: 449px;
flex-shrink: 0;
}

/* footer section */
.footer-sec{
    align-items: center;
    text-align: center;
    background-color: #111010;
    width: 100%;
    height: 449px;
    
}
.footer-title{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 150px;
}
.white{
    color: white;
}
.footer-para{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}