width: 537px;
height: 48px;
color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
text-align: center;
padding: 150px 700px 0px 300px;




width: 594px;
height: 60px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 20px;
font-weight: 400;
padding: 250px 1000px 0px 20px;